{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an product
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Imágenes del catálogo - {% endblock %}
{% set titlecontent = 'Imágenes del catálogo'%}
{% set subtitlecontent = 'Suba nuevas imágenes o edítelas aquí' %}
{% set breadcrumb = [{'title':idproject | getModulename, 'link': path('catalog_viewcatalog', {'idproject':idproject}), 'icon': 'book'}, {'title': 'ítem', 'link': path('catalog_masiveimagechange', {'idproject':  idproject}), 'icon': 'book'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->

            {%
                                        set configFiles = {
                                            'id': '0',
                                            'icon': 'book',
                                            'title': ('Imágenes de Ítem' ),
                                            'modifyAllow': modifyAllow,
                                            'type': 'product',
                                            'filetype':'image'
                                        }
            %}  
            {% include 'DataimageBundle:Dataimage:view.html.twig' %}

            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}
