{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Ítem en Catálogo - {% endblock %}
{% set titlecontent = 'Nuevo Ítem en Catálogo' %}
{% set subtitlecontent = 'Rellene los campos para insertar un ítem '%}
{% set breadcrumb = [{'title': 'Catálogo', 'link': path('catalog_viewcatalog', {'idproject':idproject}), 'icon': 'book'}, {'title': 'Nuevo', 'link': path('catalog_insertproduct', {'idproject':idproject}), 'icon': 'book'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}

{%
    set configForm = {
        'id' : 'insertitem',
        'pathaction': path('catalog_insertproduct', {'idproject':idproject}),
        'pathcancel': path('catalog_viewcatalog', {'idproject':idproject}),
        'title': 'Ítem',
        'icon': 'book'
    }
%}

{% block maincontent %}
    {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
    {% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
        {% block formcontent %}
            {% include('CatalogBundle:Default:forminsert.html.twig') %}
    {% endblock %}                    
{% endembed %}


{% endblock %}         

