{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an product
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Ítem - {% endblock %}
{% set titlecontent = 'Ítem'%}
{% set subtitlecontent = 'Edite los datos del ítem desde aquí' %}
{% set breadcrumb = [{'title': 'Catálogo', 'link': path('catalog_viewcatalog', {'idproject':item.project}), 'icon': 'book'}, {'title': 'ítem', 'link': path('catalog_viewproduct', {'id':  item.id}), 'icon': 'book'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Ítem</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 profile-info">
                                        {% include "CatalogBundle:Default:view.html.twig" %}
                                    </div>
                                    <!--end col-md-12-->
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                            set configForm = {
                                                'id' : 'modifyproduct',
                                                'pathaction': path('catalog_modifyproduct', { 'id': item.id }),
                                                'pathcancel': path('catalog_viewcatalog', {'idproject':item.project})
                                            }
                                            %}

                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% include('CatalogBundle:Default:forminsert.html.twig') %}
                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}
