#;CATID;CATEGORÍA;METATITLE;METADESCRIPTION;METATAGS;{% set i=0 %}{% for pf in productfields %}{% if pf.formfieldtype != 11 %}{{ pf.name }};{% endif %}{% endfor %}LINK;
{% for product in data %}
    {{ product.id}};{{ product.category }};{{ product.categorytitle }};{{ product.metatitle }};{{ product.metadescription }};{{ product.tags }};{% set i=0 %}{% for pf in productfields %}{% if pf.formfieldtype != 11 %}{{ product['field_'~pf.id] is defined ? product['field_'~pf.id] : '-' }};{% endif %}{% endfor %}{{ path('publicweb_product', {'title': product.mainfield | spaceencodeurl(true), 'id':product.id}) }};
{% endfor %}