{% extends 'BEInterfaceBundle:_Default:modalform.html.twig' %} 

{% block modaltitle %}Importar Catálogo{% endblock %}

{% block modalbody %}
    <div class="col-md-12">
        <h4>Cargue el Fichero en formato CSV</h4>
    </div>
    {% if form_errors(new_form) %}
        <div class="ui-state-error">{{ form_errors(new_form) }}</div>
    {% endif %}

    <form class="col-md-12" action="#" id="importcatalogform">

<div data-provides="fileupload" class="margin-top-10 fileupload fileupload-new">
                                            
                
                <div class="input-group input-group-fixed">
                    <span class="input-group-btn">
                        <span class="uneditable-input">
                    <i class="icon-file fileupload-exists"></i> 
                    <span class="fileupload-preview" id="csv_filename"></span>
                    </span>
                    </span>
                    <span class="btn default btn-file">
                    <span class="fileupload-new"><i class="icon-paper-clip"></i> Seleccione un CSV</span>
                            {{ form_widget(new_form.csv) }}
                    </span>
                    
                 </div>
              </div>        


        {{ form_widget(new_form._token) }}
        <div class="clearfix"></div>
    </form>


{% endblock %}         

{% block modalbuttons %}
    <div id="progress"><span id="progress_loaded">0</span>/<span id="progress_total">0</span></div>
    <button type="button" id="btn_importcatalogcsv" class="btn blue">Importar</button>
{% endblock %}

{% block modalscripts %}
    <link href="/bundles/beinterface/css/pages/profile.css" type="text/css" rel="stylesheet">    
    <link href="/bundles/beinterface/plugins/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $(':file').change(function () {
                var file = this.files[0];
                var name = file.name;
                var size = file.size;
                var type = file.type;
                $('#progress_total').html(size);
                $('#csv_filename').html(name);
                //Your validation
            });

            $('#btn_importcatalogcsv').click(function () {

                   
                        
                $('#buttons_modal').css('display', 'none');
                $('#ajaxloader').css('display', 'block');
                formData = new FormData($("#importcatalogform")[0]);
                $.ajax({
                    url: '{{ path('catalog_importcatalog', {'idproject':idproject}) }}', //Server script to process data
                    type: 'POST',
                    xhr: function () {  // Custom XMLHttpRequest
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) { // Check if upload property exists
                            myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // For handling the progress of the upload
                        }
                        return myXhr;
                    },
                    //Ajax events
                    beforeSend: function () {
                        $('#importcatalog_csv').val('');
                        //$('#importcatalog_csv').reset();
                    },
                    success: function (r) {
                        $('#buttons_modal').css('display', 'block');
                        $('#ajaxloader').css('display', 'none');
                        if (r.errorCode) {
                            alert(r.errorDescription);
                            return;
                        }
                        //$('.modal').modal('hide');
                        if (r.data.warnings)
                            alert(r.data.warnings)
                        else alert('Se importó el contenido correctamente');
                        
                        location.href="{{ path('catalog_viewcatalog', {'idproject':idproject})}}";
                    },
                    error: function () {},
                    // Form data
                    data: formData,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });






                function progressHandlingFunction(e) {
                    if (e.lengthComputable) {
                        $('#progress_loaded').html(e.loaded);
                    }else ('#progress').css('display', 'none');
                }
            });
        });
    </script>
{% endblock %}

