    {% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
    {% include 'BEInterfaceBundle:_Default:warningfromflash.html.twig' %}    
    {% include 'BEInterfaceBundle:_Default:successfromflash.html.twig' %}    

    <div class="table-toolbar">
        <div class="btn-group">
            <a href="{{ path('webforms_listformfields', {'idproject': formid }) }}" ><button class="btn blue"> Campos <i class="fa fa-tasks"></i></button></a>            
            <a href="{{ path('treesection_listtreesections', {'idproject': treecategoryid }) }}" ><button class="btn blue"> Categorías <i class="fa fa-sitemap"></i></button></a>
            <div class="clearfix"></div>
        </div>
    </div>

    {% set fields = {'id':{'title':'#', 'link_view': true}, 'categorytitle':{'title':'Categoría', 'filter':true}} %}
    {% set i=0 %}
    {% for _field in productfields %}
        {%set aux = { ('field_'~_field.id) : {'title': _field.name, 'filter': (_field.formfieldtype==4 or _field.formfieldtype==5 or _field.formfieldtype==6), 'link_view': i==0}}%}
        {% set fields = fields | merge (aux) %}
        {% set i=i+1 %}

    {% endfor %}

    {#
    set configTable = {
                                'id': 'producto',
                                'title': 'Ítems', 
                                'icon':'book',
                                'noOptions':true,
                                'viewdata': {'url': 'catalog_viewproduct'},
                                'extrabtns': { 'btnexportcatalog':{
                                    'url': path('catalog_exportcatalog', {'idproject':idproject}    ),
                                    'extralink': 'target="_blank"',
                                    'icon': 'arrow-down',
                                    'color': 'purple',
                                    'title': 'Exportar'
                                        },
                                    'btnimportcatalog':{
                                    'url': path('catalog_importcatalogform', {'idproject':idproject}),
                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                    'icon': 'arrow-up',
                                    'color': 'default',
                                    'title': 'Importar'
                                        },
                                    'btnmasiveimages':{
                                    'url': path('catalog_masiveimagechange', {'idproject':idproject}),
                                    'icon': 'camera',
                                    'color': 'yellow',
                                    'title': 'Modificación de Imágenes'
                                        },
                                    'btnmasivedelete':{
                                    'url': 'javascript:deletemasive()',
                                    'extralink': '',
                                    'icon': 'trash',
                                    'color': 'red',
                                    'title': 'Borrar Seleccionados'
                                        }
                                    
                                },
                                'fields': fields                                
                               }
                              
    #}

    {%
    set configTable = {
                                'id': 'producto',
                                'title': 'Ítems', 
                                'icon':'book',
                                'noOptions':true,
                                'viewdata': {'url': 'catalog_viewproduct'},
                                'extrabtns': { 'btnexportcatalog':{
                                    'url': path('catalog_exportcatalog', {'idproject':idproject}    ),
                                    'extralink': 'target="_blank"',
                                    'icon': 'arrow-down',
                                    'color': 'purple',
                                    'title': 'Exportar'
                                        },
                                    'btnimportcatalog':{
                                    'url': path('catalog_importcatalogform', {'idproject':idproject}),
                                    'extralink': 'data-target="#modal_ajax" data-toggle="modal"',
                                    'icon': 'arrow-up',
                                    'color': 'default',
                                    'title': 'Importar'
                                        },
                                    'btnmasivedelete':{
                                    'url': 'javascript:deletemasive()',
                                    'extralink': '',
                                    'icon': 'trash',
                                    'color': 'red',
                                    'title': 'Borrar Seleccionados'
                                        }
                                    
                                },
                                'fields': fields                                
                               }
                              
    %}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('catalog_insertproduct', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}


{%
       set configForm = {
           'id' : 'viewfields',
           'pathaction': path('catalog_changefieldstoview', {'idproject':idproject}),
           'pathcancel': path('catalog_viewcatalog', {'idproject':idproject}),
           'title': 'Ver Campos en la Tabla',
           'icon': 'book'
       }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% set configField = { 'label': 'Campos para ver en la tabla', 'field': 'fieldstoview', 'classesinput':'select2'} %}  
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

        {{ form_widget(new_form._token) }}

    {% endblock %}
{% endembed %}



