    <script>
        function deletemasive() {
            var itemstodelete = fnGetSelected(oTableproducto);
            var htmlHidden = '';
            var cont = 0;
            for (var i in itemstodelete) {
                var aux = $(itemstodelete[i]).attr('id').split('_');
                htmlHidden += ((htmlHidden == '') ? '' : ', ') + aux[1];
                cont++;
            }
            if (!confirm("¿Seguro que desea borrar " + cont + " elementos?\nLos elementos con id " + htmlHidden+".\nOPERACIÓN IRREVERSIBLE"))
                return;
            
            $('.btn-group').css('display', 'none');
            $.post('{{ path('catalog_masivedelete', {'idproject': idproject}) }}',  {'ids': htmlHidden.split(',')} , function(r){
                $('.btn-group').css('display', 'block');
                if (r.errorCode){ alert(r.errorDescription); return; }
                if (r.warning!=''){ alert(r.warning);  }
                alert ('Se eliminaron '+r.data.num+' elementos');
                location.href="{{ path('catalog_viewcatalog', {'idproject':idproject})}}";
            });

        }
    </script>
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    
