{% set break=0 %}
{% for field in new_form %}
    {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
{% endfor %}
{% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}
{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %} 

<h1>Ítem de {{ item.categorytitle }}</h1>                                   
<div class="btn-group">
    {%set pathdelete= path('catalog_deleteproduct', {'id': item.id })%}
    {% set id = item.id %}
    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
    <div class="clearfix"></div>
</div>


{% for productfield in productfields %}
    <p><strong>{{ productfield.name }}:</strong>
        {% if item['field_'~productfield.id] is not defined %}-{% else %}
            {% if item['field_'~productfield.id] is same as (true) %}Sí
            {% elseif item['field_'~productfield.id] is same as (false) %}
                No
            {% elseif item['field_'~productfield.id].timestamp is defined %}
                {{ item['field_'~productfield.id] | date('d/m/Y H:i:s') }}
            {% else %}
                {{ item['field_'~productfield.id] | raw }}
            {% endif %}
        {% endif %}
    </p>
{% endfor %}
